* {
	margin: 0;
	padding: 0;

}
body {
	background-color:  gray;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	/* margin: 50px; */
}
/*navbar*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	background-color: whitesmoke;
	justify-content: space-around;
	z-index: 999;
	height: 50px;
	align-items: center;
}
nav h2 {
	font-size: 24px;
	font-weight: bold;
	font-family: algerian, sans-serif;
	margin-left: -70%;
	color: black;
	margin-top: 10px;
}
nav ul {
	display: flex;
	list-style: none;
	width: 30%;
    /* font-size: 15px; */
	margin-top: 5px;
    margin-right: -200px;
	justify-content: space-between;
	z-index: 3;
  


}
nav ul li a {
	text-decoration: none;
	color: rgb(46, 46, 240);
    font-size: 15px;
   

	
}
nav a:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid blue;
	width: 50%;
	margin: auto;
	padding-bottom: 3px;
}
.btn-custom1 {
	background-color: rgb(41, 41, 219);
	text-align: center;
	color: rgb(72, 72, 247);
	width: 150%;
	height: 130%;
	/* font-weight: 100;
	font-size: 15px; */
	border-radius: 10px;
	cursor: pointer;
	border: 0;

}
.btn-custom1 a {
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-bottom: 2px;
    
}
.btn-custom1 a:hover{
    font-weight: bolder;
}
.btn-custom1:hover {
	box-shadow: 0 0 5px ;
	content: '';
	width: 160%;
	padding-bottom: 3px;
	display: block;
    font-weight: bolder;
}
/* end navbar */
.container {
	display: grid;
	margin: 50px auto;
    background-color: rgba(0, 0, 139, 0.678);
}



.header {
	margin: 30px auto;
	display: grid;
	grid-template-areas:
	 'hero features features'
	 'hero features features'
	 'hero features features' ;
/*	 gap: 10px;*/

}
.hero {
	display: grid;
	margin: 50px auto;
	grid-area: hero;
	min-height: 250px;
	color: whitesmoke;
	padding: 50px;
	justify-content: center;


	
}
.features {
	display: grid;
/*	margin-top: -100px;*/
/*	margin: 50px auto;*/
	grid-area: features;
	min-height: 350px;
	padding: 50px;
/*	place-content: center;*/
}
.gambar {
	display: grid;
	margin-top: 50px;
	margin-right: 50px;

	border-radius: 10px;
	place-content: center;
	width: 70%;
	height: 56.5vh;
	/* background-color: #282A3A; */
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, .75); */


}
.gambar img {
	min-height: 350px;
/*	margin-right: 50px;*/
	margin-top: -70px;
	width: 325px;
	height: 400px;
	/* background-color: salmon; */
}

.btn-custom2 {
	background-color: rgb(83, 177, 83);
	text-align: center;
	color: whitesmoke;
	width: 150px;
	height: 45px;
	font-weight: 700;
	font-size: 1.2rem;
	border-radius: 40px;
	cursor: pointer;
	border: 0;

}
.btn-custom1:hover {
	box-shadow: 0 0 5px ;
	content: '';
	width: 150%;
	padding-bottom: 3px;
	display: block;
}
/* en hero */
#content {
    background-color: rgba(202, 200, 200, 0.966);
    margin-top: -50px;
    display: grid; */
    place-content: center;
    padding: 20px;
    height: 120px;

}
.judul {
    font-size: 1.5rem;
    place-content: center;
    display: grid;
    place-content: center;
}
.form {
   
    display: grid;
    place-content: center;
    margin: 50px;
    margin-right: 20px;
    
}
.form-1 {
    width: 400px;
	height: 20px;
	background-color: whitesmoke;
	border-radius: 20px;
    
    
}
#submit {
    width: 80px;
	height: 20px;
	background-color: lightblue;
	border-radius: 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    

}
/* end content */
#contact {
    padding: 20px;
    background-color: white;
    height: 150px;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'contact-1 contact-2 contact-3 contact-4';
}
.contact-4 {
    display: grid;
    place-content: center;
}
.contact-3 {
    display: grid;
    place-content: center;
}
.contact-2 {
    display: grid;
    place-content: center;
}
.contact-1 {
    display: grid;
    place-content: center;
}
/* footer */
footer {
    display: grid;
	place-content: center;
	background-color: #50514F  ;
	font-size: 10px;
	width: 100%;
	height: 30px;
	
	border-top: 10px black;
}